matplotlib==3.8.4   
numpy==1.26.4
scipy
scikit-learn
gensim==4.3.3 
gym==0.26.2
huggingface==0.0.1
imageio==2.35.0
nltk==3.8.1
pandas==2.2.2
pillow==10.4.0
pygame==2.6.0
scikit-image==0.24.0
seaborn==0.13.2
tokenizers
torch== 2.3.0
torchvision
torchinfo==1.8.0
tqdm==4.66.5
opencv-python
torchtext
transformers==4.37.0
pytorch-lightning